/** Fix margin-bottom input type="file" **/
.custom-file {
    display: block;
    max-width: 500px;

    margin-bottom: 1rem;
}

.custom-file .custom-file-label {
    margin-right: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.custom-file .btn-view {
    position: absolute;
    top: 0px;
    right: 0px;

    z-index: 5;
}

.custom-file .btn-remove {
    position: absolute;
    top: 0px;
    right: -95px;

    z-index: 5;
}

.custom-file {
    margin-top: 40px;
}
.custom-file .base-label {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: -28px;
}

/* popover form image */
.content-popover-image {
    background-color: #eee;
    background-image: linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray),
        linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
.popover-image-100 {
    width: 100%;
    height: auto;
}
