.card .card-header h1,
.card .card-header h2,
.card .card-header h3,
.card .card-header h4,
.card .card-header h5 {
    margin-bottom: 0px;
}
.card .card-header {
    background-color: #f9f9f9;
}
.card .card-header .btn-arrow-back {
    vertical-align: top;
}

.fix-dropdown-menu.show {
    left: inherit !important;
    top: 36px !important;
    right: 0px !important;
    transform: translate(0, 0) !important;
}

.loading-page {
    display: none;

    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    left: 50%;
    margin-left: -100px;
    margin-top: -26px;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
}

.base-icon-text {
    position: relative;

    font-family: Roboto, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    font-style: normal;
}
.base-icon-text::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: white;
    top: 0px;
    right: 18px;
    opacity: 0.3;
}
.base-icon-text::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 1px;
    background-color: white;
    bottom: 0px;
    right: 19px;
    opacity: 0.3;
}
