input[type='color'] {
    max-width: 100px;
}

.custom-file {
    height: auto;
    min-height: calc(1.5em + 0.75rem + 2px);
}

input[type='checkbox'][readonly],
label.readonly {
    pointer-events: none;
    touch-action: none;
    opacity: 0.7;
}

.form-control.custom-select[readonly],
.form-control.custom-select:disabled {
    background-color: #d8dbe0 !important;
}

/**
    Polyfill Datepicker (better-dateinput-polyfill.min.js)

    //_initInput
    this._input.setAttribute(
        "customReadonly",
        this._input.readOnly
    ),
**/
input[customReadonly='false'] {
    background-color: transparent !important;
}
input[customReadonly='true'] {
    pointer-events: none !important;
}
