.dataTable {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 160px;
}
.dataTables_scrollHeadInner .dataTable {
    padding-top: 0px;
    padding-bottom: 0px;
}
.dataTable.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fbfbfb;
}

.dataTables_wrapper .table-top-page {
    padding-top: 30px;
    padding-bottom: 20px;
}

.dataTables_empty {
    background-color: #fff !important;
}

.dataTable td {
    border-right: 1px solid whitesmoke;
}

div.dataTables_wrapper div.dataTables_processing {
    z-index: 5;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: white;
    font-weight: bold;
}

/* Custom Arrows - Columns */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before {
    display: none;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    font-family: 'Font Awesome 5 Free', sans-serif;
}

table.dataTable thead .sorting:after {
    content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
    content: '\f0de';
    opacity: 1;
}

table.dataTable thead .sorting_desc:after {
    content: '\f0dd';
    opacity: 1;
}

/* up f0de */
/* down f0dd */

/* Custom Input Search */
div.dataTables_wrapper div.dataTables_filter label {
    position: relative;

    content: ' ';
    font-size: 0px;

    padding: 5px;

    background-color: #f5f5f5;
    border: 0px;

    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_filter label:before {
    font-family: 'Font Awesome 5 Free', sans-serif;
    content: '\f002';

    color: rgb(158, 160, 165);
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
}

div.dataTables_wrapper div.dataTables_filter input {
    border: 0px solid #fff;
    box-shadow: none;
    width: 230px;

    color: #333;
    background-color: transparent;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

/* Header - Columns */
table.dataTable th {
    border-top: 0px;
}

div.dataTables_wrapper .table-bottom {
    margin-top: 20px;
}

.dataTables_actions .btn {
    margin-right: 2px;
}

#table_wrapper {
    min-height: 250px;
    /* overflow-y: auto; */
}

#table_wrapper .table-bottom {
    margin-right: 0px;
    margin-left: 0px;
}

/**
* Table View
**/

.dataTable.table-view {
    padding-bottom: 0px;
    padding-top: 0px;
}
.dataTable.table-view tr td:first-child {
    min-width: 250px;
}
.dataTable.table-view tr td:last-child {
    width: 100%;
}
@media (max-width: 767px) {
    .dataTable.table-view tr td:first-child {
        min-width: auto;
    }
    .dataTable.table-view tr td:last-child {
        width: auto;
    }
}

/**
    Liveware Table
*/
.fix-liveware-table .table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    border-spacing: 0;
}

.fix-liveware-table .table th {
    border-top: 0px;
}

.fix-liveware-table .table.table-striped tr {
    background-color: transparent !important;
}

/**
    DataTable - Custom Filter
*/
.base-datatable-filter {
    position: relative;

    background-color: #f9f9f9;
    border-radius: 5px;
    margin: -20px;
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #d8dbe0;
}

.base-datatable-filter .content-filter,
.base-datatable-filter .filter-data {
    margin-bottom: 0px !important;
}

.base-datatable-filter .filter-type input,
.base-datatable-filter .filter-type select {
    margin-top: 5px;
    margin-bottom: 5px;
}

.base-datatable-filter .form-control {
    margin-left: 5px;
    margin-right: 5px;
}

.base-datatable-filter .filter-data .btn {
    margin-top: 15px;
}

/**
    DataTable - Buttons
*/
.datatable-buttons-right {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 25px;
    right: 18px;
}

.base-datatable-render-video {
    display: block;
    object-fit: cover;
}

.base-datatable-render-video::-webkit-media-controls-panel {
    /* background-color: var(--primary); */
    /* background-image: linear-gradient(transparent, transparent) !important; */
}

.base-datatable-render-image {
    display: inline-block;

    background-color: #eee;
    background-image: linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray),
        linear-gradient(45deg, lightgray 25%, transparent 25%, transparent 75%, lightgray 75%, lightgray);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
.base-datatable-render-image img {
    display: block;
}

.table-responsive-scroll-top {
    overflow-x: scroll;
    overflow-y: auto;
}
.table-responsive-scroll-top div {
    font-size: 1px;
    line-height: 1px;
}
