.base-quilljs {
    position: relative;
}

.base-quilljs .ql-toolbar .ql-mode,
.base-quilljs .ql-toolbar .ql-formats button b {
    color: #444;
}

.base-quilljs .dark-mode {
    background-color: #bbb;
    color: #000;
}

.ql-html-popupContainer {
    background-color: #fff !important;
}

.ql-html-textContainer {
    height: calc(100% - 20px) !important;
}

.ql-html-popupTitle {
    display: none !important;
}

.ql-html-buttonGroup {
    transform: none !important;
}
.ql-html-textArea {
    border: 1px solid;
    border-color: #d8dbe0;
    border-radius: 0.25rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 21, 0.075);
}

.ql-html-buttonGroup button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    color: #fff;
    background-color: #08885b;
    border-color: #08885b;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 21, 0.075);
}
.ql-html-buttonGroup .ql-html-buttonCancel {
    color: #fff;
    background-color: #e55353;
    border-color: #e55353;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 21, 0.075);
}

.base-quilljs .block-loading {
    display: none;

    position: absolute;
    z-index: 10;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.2);

    align-items: center;
    justify-content: center;

    font-size: 32px;
}

.ql-editor blockquote,
.ql-editor dl,
.ql-editor dd,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6,
.ql-editor hr,
.ql-editor figure,
.ql-editor p,
.ql-editor pre {
    margin: 1em 0px !important;
    line-height: 120%;
}
