.body-iframe .card {
    margin-bottom: 0px;
}
.body-iframe {
    min-height: inherit;
    background-color: #fff;
}
.body-iframe .base-app {
    border-left: 5px solid var(--primary);
    border-radius: 10px;
}
.body-iframe-sub .base-app {
    border-left: 5px solid var(--secondary);
    border-radius: 10px;
}
