.base-page {
    font-family: 'Roboto', sans-serif;
}

.base-page .page {
    min-height: calc(100vh - 20px);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.base-page .page .btn-back {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1rem;
}

.base-page .input-group-text {
    font-size: 18px;
    background-color: transparent;
}

.base-page .card {
    border: 0px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.base-page .card-form {
    flex-grow: 1.2;
}

.base-page .card-form .card-body {
    display: flex;
    align-items: center;
}

.base-page .card-form .card-body form {
    width: 100%;
}

.base-page .card-logo-full .card-body {
    padding: 0;
}

.base-page .card-logo-full img {
    display: block;

    object-fit: cover;

    width: 100%;
    height: 100%;
}
