.c-sidebar-brand {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.c-sidebar .c-sidebar-nav-title {
    font-size: 100%;
    letter-spacing: 1.2px;
    color: #aaa;
}
.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
    color: #fff;
}
.c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon,
.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon {
    color: #fff;
}

/* Item - Selected - Hover */
.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle,
.c-sidebar-nav-dropdown-toggle.active {
    color: var(--primary) !important;
    /* background: rgb(44, 46, 51); */
}
.c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon,
.c-sidebar-nav-dropdown-toggle.active .c-sidebar-nav-icon {
    color: var(--primary);
}
.c-sidebar .c-sidebar-nav-link.c-active:hover,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle:hover,
.c-sidebar-nav-dropdown-toggle.active:hover {
    color: #fff !important;
}
.c-sidebar .c-sidebar-nav-link.c-active:hover .c-sidebar-nav-icon,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon,
.c-sidebar-nav-dropdown-toggle.active:hover .c-sidebar-nav-icon {
    color: #fff !important;
}

.c-sidebar .c-sidebar-nav {
    font-size: 12px;
    overflow: hidden; /*scroll é através do 'ps' */
}
@media (max-width: 991px) {
    .c-sidebar .c-sidebar-nav {
        overflow-y: scroll !important;
    }
}

.c-sidebar .c-sidebar-nav-item {
    margin: 1px;
}
.c-sidebar .c-sidebar-nav-dropdown.c-show {
    border-left: 2px solid var(--primary);
}
.c-sidebar-nav-dropdown-items .c-sidebar-nav-item .c-sidebar-nav-link {
    border-left: 6px solid transparent;
}
.c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-dropdown-items {
    background-color: rgba(255, 255, 255, 0.05);
}
.c-header .c-header-nav .c-avatar {
    width: 40px;
    height: 40px;
    background-color: rgb(235, 237, 239);
}
