.form-control.is-valid,
.was-validated .form-control:valid {
    /* border-color: #2eb85c; */
    /* border-color: var(--primary); */
}
.custom-select.is-valid:focus,
.was-validated .custom-select:valid:focus {
    /* border-color: #2eb85c; */
    /* box-shadow: 0 0 0 0.2rem rgba(46,184,92,.25); */
}

html:not([dir='rtl']) select.form-control.is-valid,
html:not([dir='rtl']) .was-validated select.form-control:valid {
    background-position: calc(100% - 12px), calc(100% - 28px) 50%, 50%;
}
